doctype
html
  head
    // Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible'
         content='IE=edge')
    meta(name='viewport'
         content='width=device-width, initial-scale=1')

    // Title
    title Examples &middot; Vivid

    // Fonts
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='')

    // Stylesheets
    // bower:css
    // endbower
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='style.css')
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='../dist/css/vivid.css')

    body
      h1 Test
        h2 Test
        p testestes
      h2 Test
      a(href='#') Test
      blockquote Test
      p testestes