doctype
html
  head
    // Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible'
         content='IE=edge')
    meta(name='viewport'
         content='width=device-width, initial-scale=1')

    // Title
    title Examples &middot; Vivid

    // Fonts
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='')

    // Stylesheets
    // bower:css
    // endbower
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='style.css')
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='../dist/css/vivid.css')

    body
      .container
        .row
          .col.col-4
            .card

              // Header One
              h1 Header one
              p Poppins Bold, size: 72 pt, Leading 72 pt

              h1.alt Header one
              p Poppins Light, size: 72 pt, Leading 72 pt

              // Header Two
              h2 Header two
              p Poppins Bold, size: 60 pt, Leading 60 pt

              h2.alt Header two
              p Poppins Light, size: 60 pt, Leading 60 pt

              // Header Three
              h3 Header three
              p Poppins Bold, size: 48 pt, Leading 48 pt

              // Header Four
              h4 Header four
              p Poppins Bold, size: 36 pt, Leading 36 pt

              // Header Five
              h4 Header six
              p Poppins Bold, size: 30 pt, Leading 30 pt

              // Header Six
              h4 Header six
              p Poppins Bold, size: 24 pt, Leading 24 pt

        .row
          .col.col-4
            .card
              // Paragraph
              p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Donec sed odio dui.

              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

              // Blockquote
              blockquote Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

              // Unordered List
              ul
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                  ul
                    li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              // Ordered List
              ol
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                  ol
                    li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    li Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                li Cras justo odio, dapibus ac facilisis in, egestas eget quam.

        .row
          .col.col-4
            .card

              // Default Button
              a.btn(href='#') Button

              // Purple Button
              a.btn.btn-purple(href='#') Button

              // Green Button
              a.btn.btn-green(href='#') Button

              // Aqua Button
              a.btn.btn-aqua(href='#') Button

              // Blue Button
              a.btn.btn-blue(href='#') Button

              // Orange Button
              a.btn.btn-orange(href='#') Button
              a.btn.btn-orange(href='#'
                               disabled) Button

        .row
          .col.col-4
            .card

              // Radio
              .radio
                label
                  input(type='radio'
                        name='radio')
                  span.radio
                  | Dapibus ac facilisis in

              // Radio
              .radio
                label
                  input(type='radio'
                        name='radio')
                  span.radio
                  | Dapibus ac facilisis in

              // Radio
              .radio.disabled
                label
                  input(type='radio'
                        name='radio'
                        disabled)
                  span.radio
                  | Dapibus ac facilisis in

              // Checkbox
              .checkbox
                label
                  input(type='checkbox'
                        name='checkbox')
                  span.checkbox
                  | Dapibus ac facilisis in

              // Checkbox
              .checkbox.disabled
                label
                  input(type='checkbox'
                        name='checkbox'
                        disabled)
                  span.checkbox
                  | Dapibus ac facilisis in